*{
  padding: 0;
  margin: 0;
  font-family: "Baloo Paaji 2", sans-serif;
  box-sizing: border-box;
}

body {
  background: #131313;
}

#top {
  text-align: center;
  font-size: 25px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 700;
}

button {
  width: 40%;
  height: 30px;
  margin: 2% 5%;
  border: 2px solid white;
  background: #131313;
  color: white;
  border-radius: 50px;
  transition: 0.1s;
}

button:active {
  background: white;
  color: #131313;
  transform: scale(0.9);
}

#btn {
  width: 50px;
  height: 25px;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 3px;
}

#on {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 25px;
  position: relative;
  top: -2px;

}

#phim {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  text-align: left;
  margin-left: 3px;
  width: 120px;
  transition: 0.25s;
}

p.fade {
  opacity: 0;
}